#lineChart .axis path,
#lineChart .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#lineChart text {
  fill: #fff;
}

#lineChart .x.axis path {
  display: none;
}

#lineChart .line {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
}