.subunit {
    stroke: #334960;
    stroke-width: 1px;
}
text.subunit-label {
    font-family: "Signika", sans-serif;
    font-weight: normal;
    text-anchor: middle;
}
.subunit-label {
    display: none;
}
.graticule {
    fill: none;
    stroke: none;
}